@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>Template</title>
    <link href='/Content/bootstrap.css' rel='stylesheet' />
    <link href='/Content/site.css' rel='stylesheet' />

    <script src='/Scripts/modernizr-2.6.2.js'></script>
</head>
<body class="ignielPelangi">
    <div class='body-content'>
        <div id="ignielNotif" class="jumbotron text-center" style="background-color:#fff;">
            <h2 class="email text-primary">APPROVE/REJECT - {0}</h2>
            <br/>
            <p class="lead text-danger">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <br />
            <hr style="border-color:rgba(0,0,0,.1);">
            <div class="row">
                <div class="text-center">
                    <h4 class="text-primary"><b>BUDGET TRANSFER ONLINE - BUTTON</b></h4> 
                    <h5 style="color:rgba(0,0,0,.7);">(Pengalihan Anggaran Biaya Operasi)</h5>
                </div>
            </div>

        </div>
        <footer>
            <p class="text-center text-muted" style="color:#fff;">Copyright &copy; PT Pertamina Geothermal Energy</p>
        </footer>
    </div>

    <script src='/Scripts/jquery-1.10.2.js'></script>

    <script src='/Scripts/bootstrap.js'></script>
    <script src='/Scripts/respond.js'></script>


</body>
</html>
