<div id="content">
    <section widget-grid id="administrasi-HakAkses">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="list_HakAkses" data-widget-colorbutton="false"  data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i ng-class="isShowList ? 'fa fa-table' : 'fa fa-edit'"></i> </span>
                        <h2>{{isShowList ? getWord('List') : getWord(isNew ? 'New' : 'Update')}} {{getWord('Hak Akses')}}</h2>
                        <div class="va-table" style="height: 45px;text-align: right;float: right;margin-right: 10px;">
                            <div class="va-middle"><button class="btn btn-primary" ng-click="NewData(event)" ng-if="isShowList"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{getWord('New')}}</button></div>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body" ng-if="isShowList">
                            <div class="widget-body no-padding table-responsive ">
                                <table datatable dt-options="ctrl.tableOptions" dt-columns="ctrl.tableColumns" class="table table-striped table-bordered table-hover cursor-pointer" width="100%"></table>
                            </div>
                            <!-- <div class="form-actions text-left">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" ng-click="NewData(event)">
                                            <i class="fa fa-plus"></i>
                                            {{getWord('New')}}
                                        </button>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="widget-body" ng-if="!isShowList">
                            <form name="frmHakAkses" id="frmHakAkses" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-lg-1 control-label">Nama</label>
                                    <div class="col-lg-4">
                                        <input name="Nama" ng-model="data.Nama" type="text" class="form-control" placeholder="Nama Hak Akses" maxlength="100" required />
                                    </div>
                                </div>
                                <div class="padding-top-20">
                                    <div id="tabs" data-smart-jqui-tabs>
                                        <ul>
                                            <li>
                                                <a href="#tabsRole">Akses Role</a>
                                            </li>
                                            <li>
                                                <a href="#tabsMenu">Akses Menu</a>
                                            </li>
                                            <li ng-if="false">
                                                <a href="#tabsTombol">Akses Tombol</a>
                                            </li>
                                        </ul>
                                        <div id="tabsRole">
                                            <select id="dualRole" ng-model="detail.lstRoleSelected"
                                                    ng-options="item.value as item.text for item in lstRole"
                                                    multiple
                                                    bs-duallistbox></select>
                                        </div>
                                        <div id="tabsMenu">
                                            <select id="dualMenu" ng-model="detail.lstMenuSelected"
                                                    ng-options="item.value as item.text for item in lstMenu"
                                                    multiple
                                                    bs-duallistbox></select>
                                        </div>
                                        <div id="tabsTombol" ng-if="false">
                                            <select id="dualTombol" ng-model="detail.lstTombolSelected"
                                                    ng-options="item.value as item.text for item in lstTombol"
                                                    multiple
                                                    bs-duallistbox></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSave" type="submit" class="btn btn-success" ng-click="Save()">
                                                <i class="fa fa-save"></i>
                                                {{getWord(isNew ? 'Save' : 'Update')}}
                                            </button>
                                            <button id="btn_undo" type="button" class="btn btn-warning" ng-click="Undo()">
                                                <i class="fa fa-undo"></i>
                                                {{getWord('Undo')}}
                                            </button>
                                            <button id="btnDelete" type="button" class="btn btn-danger" ng-if="!isNew" ng-click="Delete()">
                                                <i class="fa fa-remove"></i>
                                                {{getWord('Delete')}}
                                            </button>
                                            <button id="btnBack" type="button" class="btn btn-primary" ng-click="ShowList()">
                                                <i class="fa fa-arrow-left"></i>
                                                {{getWord('Back')}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- content -->
</div>